<div id="dashboard">
  <div id="sidebar">
    <form data-bind="submit: add_subscription">
      <%= label_tag 'new_url', 'New Subscription' %>
      <%= text_field_tag 'new_url', nil, :'data-bind' => 'value: new_subscription, valueUpdate: "input"' %>
      <%= submit_tag 'Subscribe', :'data-bind' => 'enable: new_subscription' %>
    </form>
    <ul>
      <li class="clickable" data-bind="css: { selected: !selected_subscription() }, click: set_current">All Subscriptions</li>
      <!-- ko foreach: subscriptions -->
      <li class="clickable" data-bind="text: title, click: $root.set_current, css: { selected: $data === $root.selected_subscription() }">
      </li>
      <!-- /ko -->
    </ul>
  </div>
  <div id="content">
    <ul data-bind="foreach: current_posts">
      <li>
        <div class="post-title clickable" data-bind="text: title, click: $root.toggle_post, css: { selected: $data === $root.current_post() }"></div>
        <div class="post" data-bind="slideVisible: $data === $root.current_post(), html: $data.content">
        </div>
      </li>
    </ul>
  </div>
</div>
<%= coffee_script_tag do %>
  $ ->
    subscriptions = <%= raw render :partial => 'subscriptions/index', :formats => [:json] %>
    vm = new Dashboard(subscriptions)
    ko.applyBindings(vm)
    window.vm = vm
<% end %>